{{- $folder := .Get "folder" | default "" -}}
{{- $size := .Get "size" | default "800x" -}}
{{- $displaySize := .Get "displaySize" | default "1920x" -}}
{{- $class := .Get "class" | default "sequential-grid" -}}
{{- $preloadAhead := .Get "preloadAhead" | default "2" -}}
{{- $pinnedParam := .Get "pinned" | default "" -}}
{{- if $folder -}}
  {{- $pattern := printf "%s/*.jpg" (strings.TrimSuffix "/" $folder) -}}
  {{- $allImages := resources.Match $pattern -}}
  {{- $allImages = sort $allImages "Name" -}}
  {{- $pinnedNames := slice -}}
  {{- if $pinnedParam -}}
    {{- range split $pinnedParam "," -}}
      {{- $t := trim . " " -}}
      {{- if $t -}}{{- $pinnedNames = $pinnedNames | append $t -}}{{- end -}}
    {{- end -}}
  {{- end -}}
  {{- $ordered := slice -}}
  {{- range $pinnedNames -}}
    {{- $pname := . -}}
    {{- range $allImages -}}
      {{- if eq (path.Base .Name) $pname -}}{{- $ordered = $ordered | append . -}}{{- end -}}
    {{- end -}}
  {{- end -}}
  {{- range $allImages -}}
    {{- if not (in $pinnedNames (path.Base .Name)) -}}{{- $ordered = $ordered | append . -}}{{- end -}}
  {{- end -}}
  <div class="{{ $class }}" data-preload-ahead="{{ $preloadAhead }}">
    {{- range $ordered -}}
      {{- $fullURL := .RelPermalink -}}
      {{- $thumb := .Resize $size -}}
      {{- $display := .Resize $displaySize -}}
      <div class="masonry-item">
        <span class="gallery-photo-trigger" role="button" tabindex="0" data-full="{{ $display.RelPermalink }}" data-download="{{ $fullURL }}" title="View full size">
          <img src="{{ $thumb.RelPermalink }}" width="{{ $thumb.Width }}" height="{{ $thumb.Height }}" alt="" loading="lazy">
        </span>
      </div>
    {{- end -}}
  </div>
{{- else -}}
  {{- warnf "gallery-from-folder: missing folder parameter" -}}
{{- end -}}
