{{- define "main" -}}
{{- $isCategory := and (eq .Section "photos") (not (eq .FirstSection .)) -}}
{{- if not .IsHome | and .Title }}
<header class="page-header">
  {{- partial "breadcrumbs.html" . }}
  <h1>
    {{ .Title }}
  </h1>
  {{- if .Description }}
  <div class="post-description">
    {{ .Description | markdownify }}
  </div>
  {{- end }}
</header>
{{- end }}

{{- if $isCategory }}
<p class="back-link"><a href="/photos/">&larr; back to photos</a></p>
{{- end }}

{{- if .Content }}
<div class="post-content">
  {{- if not (.Param "disableAnchoredHeadings") }}
  {{- partial "anchored_headings.html" .Content -}}
  {{- else }}{{ .Content }}{{ end }}
</div>
{{- end }}

{{- if $isCategory }}
<p class="back-link"><a href="/photos/">&larr; back to photos</a></p>
{{ partial "photos-masonry-css.html" . }}{{ partial "photos-gallery-overlay.html" . }}{{ end }}
{{- end }}
